body {
  background-color: #010165;
  margin: 0;
}

#door1 #door2 #door3 {
  cursor:pointer;
}

header {
  background-color: #00ffff;
}

.title-row {
  color: #00ffff;
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline-block;
  font-size: 18px;
  color: #00ffff;
  font-family: "Work Sans";
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.instructions-row,.instructions-title {
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25px;
  font-family: "Work Sans";
  font-size: 36px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-size: 14px;
  font-family: "Work Sans";
  color: white;
}

.door-row {
  text-align: center;
}

.start-row {
  margin: auto;
  width: 120px;
  height: 43px;
  font-family: "Work Sans";
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}

.current-streak, .winning-streak {
  height: 43px;
  background-color: #00ffff;
  color: black;
  text-align: center;
  padding-top: 18px;
  font-size: 18px;
}

.text-color-white {
  color: white;
}

.number {
  display: inline-block;
}
