body {
  font-family: Helvetica;
}

header {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 50px;
  color: khaki;
  text-align: center;
}

.heading {
  font-weight: bold;
  color: white;
  font-size: 32px;
}

#background-mediumspring-green{
  background-color: mediumspringgreen;
}

#background-lightcoral {
  background-color: lightcoral;
}

#background-skyblue {
  background-color: skyblue;
}

.pricing {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
